<div class="single-post__article single-post__article--infinite">
	<div class="wrapper">
		<div class="container">
			<div class="col-12">
				<div class="single-post__heading">
					<h1>%%feed_post_title%%</h1>
					<div class="heading__detail">
                        <span class="author__name">di <span class="author vcard"><a
								class="textual-link text-link author__name"
								href="https://www.agrodolce.it/autore/s-leo/">%%feed_author_name%%</a></span></span>
						<span class="info__time">pubblicato il <time
								class="entry-date published">%%feed_post_date%%</time>
</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="col-12">
			<div class="featured-image" style="width: auto !important">
				<picture>
					<!--[if IE 9]>
					<video style="display: none;"><![endif]-->
					<source srcset="%%feed_post_image_mobile%%"
							media="(max-width: 736px)"/>
					<!--[if IE 9]></video><![endif]-->
					<img srcset="%%feed_post_image_desktop%%"
						 alt="Coxinha 3"/>
				</picture>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div class="container">
			<div class="col-12">
				<div class="single-post__abstract">
					<p class="abstract">%%feed_post_excerpt%%</p>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div class="container sticky-parent sticky-offset-element" data-sticky-offset-top="0">

			<div class="editorial">
				%%feed_post_content%%
			</div>
			<link rel="stylesheet"
				  href="https://www.agrodolce.it/app/themes/agrodolce-2021/dist/css/components/partials/partial-newsletter.min.css?ver=2.0.0"
				  media="print" onload="this.media='all'">
		</div>
	</div>
</div>
